.git
.idea
.gradle
build/*
!build/libs/
build/libs/*
!build/libs/*.jar
out/
.env
.github
*.log
frontend/
mobile/
shared/
docs/
k6/
scripts/
jaeger/
node_modules/
.DS_Store
*.class
*.jar
!build/libs/*.jar
*.war