.git
.github
.idea
.DS_Store

.env
*.log

.gradle
out/
node_modules/
*.class
*.jar
*.war

src/
shared/
gradle/
gradlew
gradlew.bat
build.gradle
build.gradle.kts
settings.gradle
settings.gradle.kts
gradle.properties

build/*
!build/libs/
build/libs/*
!build/libs/taskflow*.jar

frontend/
mobile/
docs/
k6/
scripts/
jaeger/
